@page "/orders/{orderId:int}"
@inject IOrderService OrderService

@if (order == null)
{
        <span class="subheading">Loading order...</span>
}
else
{
    <section class="section-order-details">
        <h3 class="heading-orders-details">Order from @order.OrderDate</h3>

        <div>
        @foreach (var product in order.Products)
        {
            <div class="container grid grid--3--cols">
                <div class="image-wrapper">
                    <img src="@product.ImageUrl" class="image" />
                </div>
                <div class="name">
                    <h5 class="heading-tertiary">@product.Title</h5>
                    <span class="order-details-span">@product.ProductType</span><br />
                    <span class="order-details-span">Quantity: @product.Quantity</span>
                </div>
                <div class="product-price">$@product.TotalPrice</div>
            </div>
        }
                <div class="order-total-price">
                Total: $@order.TotalPrice
            </div>
        </div>
    </section>
}

@code {
    [Parameter]
    public int OrderId { get; set; }

    OrderDetailsResponse order = null;

    protected override async Task OnInitializedAsync()
    {
        order = await OrderService.GetOrderDetails(OrderId);
    }
}
